/* Styling file for the client form */
.client-form-container {
  margin: 10px;
}

.client-submission {
  background-color: #ffffff; /* Light background color */
  max-width: 400px; /* Make the form narrower */
  padding: 15px; /* Reduce padding */
  border: 1px solid #ddd; /* Add a subtle border */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
  display: flex;
  flex-direction: column;
}

/* Title Styles */
.title-post-form {
  color: #008000;
  font-size: 20px; /* Slightly smaller title font size */
  margin-bottom: 10px; /* Reduce space between title and form */
}

/* Label Styles */
label {
  color: #007FFF;
  text-align: left;
  font-size: 14px; /* Smaller font size */
  margin-bottom: 5px; /* Add space between labels and inputs */
}

/* Input Styles */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Reduce spacing between input containers */
}

.service-dates {
  display: flex;
  padding-top: 20px;
}
input[type="text"],
input[type="date"] {
  flex: 1; /* Make inputs flexible to share available space */
  padding: 8px; /* Reduce padding */
  border: 1px solid #ddd; /* Add borders to inputs */
  border-radius: 3px;
  font-size: 12px; /* Smaller font size */
  height: 28px; /* Reduce input height */
}

input[type="date"] {
  margin-right: 10px; /* Add space between date inputs */
  width: auto;
}

/* Submit Button Styles */
.new-client-submit {
  margin-top: 20px;
  font-size: 14px; /* Smaller font size */
  padding: 8px 16px; /* Reduce padding */
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  /* Center text horizontally */
  text-align: center;
}

.new-client-submit:hover {
  background-color: #006400; /* Darken button color on hover */
}
