/* Styling file for the client form */
.client-form-container {
 margin-top: 8em;
}

.client-submission {
  background-color: #ffffff; /* Light background color */
  max-width: 400px; /* Make the form narrower */
  padding: 15px; /* Reduce padding */
  border: 1px solid #ddd; /* Add a subtle border */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
  flex-direction: column;
}

/* Title Styles */
.title-post-form {
  color: #0073e6;
  font-size: 20px; /* Slightly smaller title font size */
  margin-bottom: 10px; /* Reduce space between title and form */
}

/* Label Styles */
label {
  color: #007FFF;
  text-align: left;
  font-size: 14px; /* Smaller font size */
  margin-bottom: 5px; /* Add space between labels and inputs */
}

/* Input Styles */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; /* Reduce spacing between input containers */
}

.input-container select {
  width: 100%;
  padding: 3px;
  border: 2px solid #0073e6;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

/* Style the options */
.input-container select option {
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

/* Style the select when it's focused */
.input-container select:focus {
  border-color: #003366;
}

.service-dates {
  display: flex;
  padding-top: 10px;
}
.input-container > [type="text"],
input[type="date"],
textarea {
  flex: 1; /* Make inputs flexible to share available space */
  border: 1px solid #ddd; /* Add borders to inputs */
  border-radius: 3px;
  font-size: 12px; /* Smaller font size */
  height: 24px; /* Reduce input height */
  margin-right: 5px; /* Add space between inputs */
}

/* Submit Button Styles */
.new-client-submit {
  margin-top: 10px;
  font-size: 14px; /* Smaller font size */
  padding: 5px 10px; /* Reduce padding */
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  /* Center text horizontally */
  text-align: center;
}

.new-client-submit:hover {
  background-color: #006400; /* Darken button color on hover */
}

@media screen and (max-width: 768px) {
  .client-form-container {
    margin: 0; /* Remove margin to utilize full screen width */
    padding: 0;
    margin-top: 8.8rem;
  }
  
  .client-submission {
    width: 80%; /* Allow form to take full screen width */
    padding: 10px;
    border: none; /* Remove border on smaller screens */
    margin-right: auto;
    margin-left: auto;
  }

  /* Adjust the title font size for smaller screens */
  .title-post-form {
    font-size: 18px;
  }

  /* Adjust label font size for smaller screens */
  label {
    font-size: 14px;
  }

  /* Adjust input font size for smaller screens */
  .input-container > input[type="text"],
  input[type="date"],
  textarea {
    font-size: 12px;
  }

  /* Adjust input and textarea padding for smaller screens */
  input[type="text"],
  input[type="date"],
  textarea {
    padding: 2px;
  }

  /* Adjust button padding for smaller screens */
  .new-client-submit {
    padding: 8px 16px;
  }
}