/* The position property is set to relative in the App.css file in this project */

.login-container {
  position: absolute;
  background: #008000;
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
  padding: 75px;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  margin: 25px;
}

.quote-dictionary {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

h2 {
  font-size: 25px;
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
  font-size: 13px;
  border-radius: 5px;
}

.login-button {
  width: 75px;
  height: 30px;
  background: #0073e6;
  border-style: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #003366;
}

/* Mobile View Styles */
@media (max-width: 768px) {
  .login-container {
    position: absolute;
    width: 85%;
    padding: 25px; /* Reduce padding for smaller screens */
    left: 44%;
  }

  h2 {
    font-size: 20px; /* Adjust the font size for smaller screens */
  }

  input[type="password"] {
    width: 100%; /* Make the input full width on mobile */
    text-align: center;
  }

  .login-button {
    width: 100%; /* Make the button full width on mobile */
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
}