.header-container {
  background: #0073e6; /* Changed to blue color */
  display: flex;
  align-items: center;
  position: fixed;
  top: -0em;
  width: 100%;
  padding: 5px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow for 3D effect */
}

.logo-container {
  display: block;
}

.head-logo {
  width: 100px;
  height: auto;
  margin-right: 20px;
  animation: rotate 360s linear infinite;
}

.header-container > .search-input {
  width: 300px; 
  height: 25px;
  border-radius: 5px;
  border-style: none;
  margin-right: 15px;
  transition: transform 0.4s;
}

.search-input:hover {
  transform: scale(1.05);
}

div > i {
  font-size: 18px;
  color: #008000;
  font-weight: 700;
}

.aside-container {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.form-active {
  background:#008000;
  width: 155px;
  height: 25px;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  margin-top: 5px;
  transition: transform 0.4s;
}

.form-close {
  background: #f44336; /* Red background color */
  width: 155px;
  height: 25px;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  margin-top: 5px;
  transition: transform 0.4s;
}

.form-active:hover {
  transform: scale(1.05);
}

.form-close:hover {
  transform: scale(1.05);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .logo-container{
    display: none;
  }

  .head-logo {
    width:  75px;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    top: 0em;
  }
  
  .header-container > .search-input {
    width: 90%;
    margin-bottom: 5px;
  }
  
  .aside-container {
    background: #f0f0f0;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .aside-container > div {
    font-size: 12px;
  }

  aside > div {
    line-height: 0.9;
  }
  
}

