h2 {
  text-align: center;
  font-style: italic;
}
.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

/* Styles for the open modal */
.modal.open {
  display: flex;
}

/* Styles for the modal content */
.modal-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.modal-content p {
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 1.2;
}

.modal-content strong {
  font-weight: bold;
}

.modal-content .price {
  color: #008000;
  font-size: 24px;
  line-height: 1.2;
}

.modal-content button {
  /* background-color: #4CAF50; */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
}

.modal-content button.close-button {
  background-color: #f44336;
}

.modal-content button:hover {
  background-color: #e72020;
}

.modal-content .update-form-container {
  margin-top: 20px;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}

.close-button:hover {
  background-color: #d32f2f; /* Darker red color on hover */
}

/* Styles for the update button */
.update-btn {
  background-color: #4CAF50; /* Green color for update button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
}

.update-btn:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.price {
  color: #008000;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  /* Modal styles */
  .modal.open {
    display: flex;
    flex-direction: column;
  }
  .modal-content {
    width: 90%; /* Adjust width for smaller screens */
    padding: 10px; /* Adjust padding */
    overflow-y: auto;
  }

  /* Close button styles */
  .close-button {
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 14px;
  }

  /* Update button styles */
  .update-btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 5px;
  }

  .price {
    font-size: 20px; /* Adjust font size */
  }
}
