.control-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.priority-filter-label {
  margin-right: 3px;
}

select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

select:hover {
  border-color: #007bff; /* Highlight border on hover */
}

/* Style the selected option */
select option:checked {
  background-color: #007bff;
  color: #fff;
}

.client-amount {
  background-color: #f0f0f0; /* Construction color background */
  padding: 20px; /* Add padding for spacing */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-top: 20px; /* Add margin to separate from other content */
}

.client-amount p {
  font-size: 20px; /* Increase the font size */
  font-weight: 700; /* Make it bold */
  color: #008000; /* Green color */
}

.zero-client-container {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.welcome {
  font-size: 24px;
  font-weight: 600;
  color: #0073e6;
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 18px;
  color: #555;
}

.table-container {
  margin-top: 8px;
}

/* Table Styles */
table {
  background: #f2f2f2;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 12px; /* Keep the font size the same */
}

table th {
  background: #808080;
  padding: 5px; /* Slightly reduce padding */
  text-align: left;
  font-weight: bold;
  color: #ffffff;
}

table tr {
  border-bottom: 1px solid #ccc;
}

/* Table cell (td) styles */
table td {
  padding: 4px; /* Slightly reduce padding */
}

/* Alternate row background color for better readability */
table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
table tr:hover {
  background-color: #e2e2e2;
}

/* Truncate long text in table cells */
.desktop-priority-indicator {
  display: flex;
  align-items: center;
  padding: 6px;
}

.priority-dot-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.priority-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.priority-high {
  background: #FF0000;
  border: 2px solid #FF0000;
  box-shadow: 0 0 5px rgba(255, 0, 0.5);
}

.priority-medium {
  background: #FFA500;
  border: 2px solid #FFA500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.priority-low {
  background: #008000;
  border: 2px solid #008000;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.priority-label {
  font-weight: 700;
  color: #000; /* Set your desired text color */
}
/* Basic Delete Button Styles */
.remove-client-submit {
  background-color: #f44336; /* Red background color */
  color: white; /* Text color */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  padding: 6px 12px; /* Smaller padding for the button */
  cursor: pointer; /* Cursor style on hover */
}

/* Hover Effect */
.remove-client-submit:hover {
  background-color: #d32f2f; /* Darker red color on hover */
  /* You can add more styles for the hover effect, like changing text color */
}

/* Active/Focus Effect (optional) */
.remove-client-submit:active,
.remove-client-submit:focus {
  outline: none; /* Remove default focus outline */
  /* You can add additional styles for the active/focus state if needed */
}
/* .table-row {
  transition: transform 0.5s;
}

.table-row:hover {          not a liked animation
  transform: scale(0.99); /* Increase the scale 
} */
/* Edit Button Styles */
.edit-client-submit {
  width: 70px;
  padding: 6px 12px; /* Smaller padding for the button */
  font-size: 16px; /* Font size */
  background: #007FFF;
  color: #fff;
}

.quote-total {
  color: #008000;
  font-weight: 900;
}

.priority-dot-container{
  width: 25px;
}

.priority-high, .priority-medium, .priority-low {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.priority-high {
  background: #FF0000;
  border: 2px solid #FF0000;
  box-shadow: 0 0 5px rgba(255, 0, 0.5);
}

.priority-medium {
  background: #FFA500;
  border: 2px solid #FFA500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.priority-low {
  background: #008000;
  border: 2px solid #008000;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.priority-high-outline {
  border: 2px solid #FF0000;
  box-shadow: 0 0 5px rgba(255, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .control-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
  }

  .priority-filter-label {
    font-size: 12px;
    
  }

  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  select:hover {
    border-color: #007bff; /* Highlight border on hover */
  }

  /* Style the selected option */
  select option:checked {
    background-color: #007bff;
    color: #fff;
  }
  /* Change the style from table to card. */
  .zero-client-container {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .welcome {
    font-size: 20px;
    font-weight: 600;
    color: #0073e6;
    margin-bottom: 10px;
  }

  .welcome-message {
    font-size: 16px;
    color: #555;
  }

  .mobile-card-container-open-toggle {
    margin-top: 10px;
    overflow-y: auto;
  }

  .mobile-client-name {
    font-size: 22px;
    font-weight: 800;
    color: #0073e6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .client-card {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.01);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .client-card-priority-high {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    border: 1px solid #FF0000;
    box-shadow: 0 0 5px rgba(255, 0, 0.5);
    animation: pulse 1s 10;
  }
  
  .priority-dot-container {
    position: absolute;
    top: 7px;
    right: 7px;
  }
    
  .client-card:hover {
    transform: translateY(-5px);
  }
  
  .client-card section {
    display: flex;
    justify-content: space-between;
  }
  
  .client-card div {
    margin-bottom: 1px;
  }
  
  .remove-client-submit {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 6px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px; 
    width: 75px;
  }
  
  .remove-client-submit:hover {
    background-color: #c0392b;
  }

  .mobile-total-quote {
    font-weight: 700;
    font-size: 17px;
  }
  
  
  section > div {
    text-align: left;
  }

  /* Adjust table container styles for mobile */
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Make the table container full width */
  }

  .table-container-position-toggled {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Make the table container full width */
    position: absolute;
    top: 14rem;
  }
}