.table-title {
  font-size: 20px;
}
.remove-client-submit {
  background: #FF0000;
  color: #ffffff;
  width: 70px;
  padding: 7px;
}
table{
  background: #f2f2f2;
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
table th {
  background: #808080;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
}
table tr {
  border-bottom: 1px solid #ccc;
}
/* Table cell (td) styles */
table td {
  padding: 10px;
}
/* Alternate row background color for better readability */
table tr:nth-child(even) {
  background-color: #f9f9f9;
}
/* Hover effect on rows */
table tr:hover {
  background-color: #e2e2e2;
}
.client-amount {
  text-align: right;
}
.client-amount > p {
    line-height: 0.8;
    margin-right: 15px;
    font-size: 20px;
    color: #007FFF;
  }